@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;700&display=swap');

html, body {
    background-color: gray;
    padding: 0;
    margin: 0;
    font-size: 12pt;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Outfit', sans-serif;
    scroll-behavior:smooth;
    scroll-behavior: smooth;
}

ul, li{
    list-style: none;
}

h1, h2 {
    margin:0;
}

