
header {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.884);
    font-family: 'Outfit', sans-serif;
    
}

/* LINKS DA NAV */

nav {
    display: flex;
    justify-content: flex-start;
    margin-left: 8vw;
    gap: 70px;
    width: 60vw;
    list-style: none;
}

nav a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.2em;
}

nav a:hover, .material-symbols-outlined:hover{
    color: aqua;
    transition: 0.5s;
    text-shadow:none;
}

/* LOGO DA NAV */

header .logo {
    display: flex;
    align-items: center;
    width: 20vmax;
    color:#54DBEB;
    font-size: 0.9em;
}

header .logo h1 {
    color:#5CDFE3;
    font-size: 2em;
    margin:0;
}

header .logo h2 {
    color:white;
    font-size: 1.8em;
    margin:0;
}

.social{
    display: flex;
    width: 12vh;
    margin-right: 2vmin;
    justify-content: space-around;
    align-items: center;
}

.img-logo {
    width: 4vmin;
    height: 4vmin;
}


@media (max-width:600px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-top: 3%;
        background-color: black;
    }
    
    .logo {
        margin-left: 0vh;
    }

    nav {
        display: flex;
        justify-content: center;
        width: 40vmax;
        list-style: none;
    }

    nav a {
        font-size: 2vw;
        font-size: 2vmax;
    }

    .img-logo {
        width: 3vmax;
        height: 3vmax;
    }

}