
main {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

main section {
    padding-top: 10vh;
    height: 90vh;
    width: 100vw;
}

/* HOME SECTION */

#home {
    display: flex;
    
}

.right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #7CC4DB;
    width: 65vw;
    padding-left: 5%;
}

.left {
    background-color: yellow;
    width: 35vw;
}

.right article {
    margin-top: 8%;
    width: 80%;
}

.right article h1 {
    font-size: 6em;
}

.right article p {
    font-size: 2em;
}

.right button {
    border-style: none;
    font-size: 1.5em;
    padding: 20px;
    padding-inline: 40px;
    border-radius: 15px;
    cursor: pointer;
}

/* PROJETOS SECTION */

#projetos {
    display: flex;
    flex-direction: column;
    flex-direction: flex-start;
    background: url(../img/projetos-img.jpg);
    background-size: cover;
}

#projetos article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #021d42;
    color: whitesmoke;
    margin-top: -70px;
    padding-top: 100px;
}

#projetos article h1 {
    font-size: 2.5em;
}

#projetos article p {
    font-size: 1.5em;
}

#projetos .itens {
    background-image: linear-gradient(to right,
    rgba(0, 0, 0, 0.700),
    rgba(0, 0, 0, 0.925),
    rgba(0, 0, 0, 0.700));

    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 75%;
}

.itens .tech {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 80%;
    border-radius: 20px;
    padding: 30px;
}

.itens .tech h1 {
    text-align: center;
    font-size: 2.5em;
    color: #7CC4DB;
}

.itens .tech ul {
    color: whitesmoke;  
    font-size: 1.2em;
    height: 50%;
}

.itens .tech button {
    border-style: none;
    font-size: 1.5em;
    padding: 10px;
    padding-inline: 20px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(105, 103, 103, 0.479);
    color:white;
}

.itens .tech button:hover {
    color:#7CC4DB;
    scale:1.05;
    transition: 0.5s;
    background-color: rgba(63, 63, 63, 0.479);
    font-weight:500;
}

/* AULAS SECTION */

#aulas {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;

}

#aulas .quadro-aula{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
}

#aulas .quadro-aula li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    text-align: center;
}